<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Passport data</title>
    <div th:replace="tvpp/fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalScript"></div>
</head>
<body>
<div th:replace="tvpp/fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">Edit customer: Passport data</h1>
    <form action="#" th:action="@{${passportEditPath}(id=${customerView.id})}" th:object="${passportDTO}" method="post">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalFragment"></div>
            </div>
        </div>


        <div class="mb-4">
            <select id="passportType" name="passportType" class="form-control">
                <option th:each="type : ${passportTypes}" th:value="${type}" th:text="${type.displayName}"
                        th:selected="${passportDTO.passportType != null} ? ${passportDTO?.passportType.displayName} : ${customerView?.passportView?.passportType}"></option>
            </select>
        </div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('passportType')}" th:errors="*{passportType}">


        <div class="form-outline mb-4">

            <input type="text"
                   th:value="${passportDTO.documentID != null} ? ${passportDTO?.documentID} : ${customerView?.passportView?.documentID}"
                   id="documentID" th:id="documentID" th:name="documentID" class="form-control">
            <label for="documentID" class="form-label">Document ID</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('documentID')}" th:errors="*{documentID}">
        </div>

        <div class="form-outline mb-4">
            <!--input type="text" th:field="*{issueDate}"  th:value = "${customerDTO.passportDTO.issueDate}" id="issueDate" class="form-control"-->
            <input type="text"
                   th:value="${passportDTO.issueDate != null} ? ${passportDTO?.issueDate} : ${customerView?.passportView?.issueDate}"
                   id="issueDate" th:id="issueDate" th:name="issueDate" class="form-control" placeholder="dd.mm.YYYY">
            <label for="issueDate" class="form-label">Issue date</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('issueDate')}" th:errors="*{issueDate}">
        </div>


        <div class="form-outline mb-4">
            <input class="btn btn-primary" type="submit" value="Next"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}(cancel=true)} role="button">Cancel</a>
        <a class="btn btn-primary" th:href=@{${personalDataEditPath}(id=${customerView.id})} role="button">Back</a>
    </form>
    <div th:replace="tvpp/fragments/general_fragments.html :: formOutlineBorderScript"></div>
    </form>
</div>
</body>
</html>