<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
    <div th:replace="tvpp/fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalScript"></div>
</head>
<body>
<div th:replace="tvpp/fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">Edit customer: Address</h1>
    <form action="#" th:action="@{${addressEditPath}(id=${customerView.id})}" th:object="${customerDTO.addressDTO}" method="post">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalFragment"></div>
            </div>
        </div>

        <div class="form-outline mb-4">

            <input type="text"
                   th:value="${dataSubmitted == false} ? ${customerView?.addressView?.postcode} : ${addressDTO?.postcode}"
                   id="postcode" th:name="postcode" th:id="postcode" class="form-control">
            <label for="postcode" class="form-label">Postcode</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">
        </div>

        <div class="form-outline mb-4">
            <input type="text"
                   th:value="${dataSubmitted == false} ? ${customerView?.addressView?.city} : ${addressDTO?.city}"
                   id="city"
                   th:id="city"
                   th:name="city"
                   class="form-control">
            <label for="city" class="form-label">City</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">
        </div>

        <div class="form-outline mb-4">
            <input type="text"
                   th:value="${dataSubmitted == false} ? ${customerView?.addressView?.street} : ${addressDTO?.street}"
                   id="street" th:id="street" th:name="street" class="form-control">
            <label for="street" class="form-label">Street</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}">
        </div>

        <div class="form-outline mb-4">
            <input type="text"
                   th:value="${dataSubmitted == false} ? ${customerView?.addressView?.houseNr} : ${addressDTO?.houseNr}"
                   id="houseNr" th:id="houseNr" th:name="houseNr" class="form-control">
            <label for="houseNr" class="form-label">House Nr</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('houseNr')}" th:errors="*{houseNr}">
        </div>

        <div class="form-outline mb-4">
            <input type="text"
                   th:value="${dataSubmitted == false} ? ${customerView?.addressView?.houseNrAddition} : ${addressDTO?.houseNrAddition}"
                   id="houseNrAddition" th:id="houseNrAddition" th:name="houseNrAddition" class="form-control">
            <label for="houseNrAddition" class="form-label">House Nr Addition</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('houseNrAddition')}"
               th:errors="*{houseNrAddition}">
        </div>

        <div class="form-outline mb-4">
            <input type="text"
                   th:value="${dataSubmitted == false} ? ${customerView?.addressView?.flatNr} : ${addressDTO?.flatNr}"
                   id="flatNr" th:id="flatNr" th:name="flatNr" class="form-control">
            <label for="flatNr" class="form-label">Flat Nr</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('flatNr')}" th:errors="*{flatNr}">
        </div>

        <div class="form-outline mb-4">
            <input class="btn btn-primary" type="submit" value="Next"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}(cancel=true)} role="button">Cancel</a>
        <a class="btn btn-primary" th:href=@{${passportPath}} role="button">Back</a>
    </form>
    <div th:replace="tvpp/fragments/general_fragments.html :: formOutlineBorderScript"></div>
    </form>
</div>
</body>
</html>