<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login data</title>
    <div th:replace="tvpp/fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalScript"></div>
</head>
<body>
<div th:replace="tvpp/fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">New customer: Login data</h1>
    <form action="#" th:action="@{${loginPath}}" th:object="${loginDataDTO}" method="post">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalFragment"></div>
            </div>
        </div>

        <div class="form-outline mb-4">
            <input type="text" th:value="${customerDTO.loginDataDTO.email}" id="email" th:id="email" th:name="email"
                   class="form-control">
            <label for="email" class="form-label">Email</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
        </div>

        <!--div class="form-outline mb-4">
            <input type="text" th:field="*{password}" id="password" class="form-control">
            <label for="password" class="form-label">Password</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        </div-->

        <div class="form-outline mb-4">
            <input class="btn btn-primary" type="submit" value="To overview"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}(cancel=true)} role="button">Cancel</a>
        <a class="btn btn-primary" th:href=@{${addressPath}} role="button">Back</a>
    </form>
    <div th:replace="tvpp/fragments/general_fragments.html :: formOutlineBorderScript"></div>
    </form>
</div>
</body>
</html>