<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Personal data</title>
    <div th:replace="tvpp/fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalScript"></div>
</head>
<body>
<div th:replace="tvpp/fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">New customer: Personal data</h1>
    <form action="#" th:action="@{${personalDataPath}}" th:object="${personalDataDTO}" method="post">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalFragment"></div>
            </div>
        </div>

        <div class="form-outline mb-4">
            <input type="text"
                   th:value="${dataSubmitted == false} ? ${customerDTO?.personalDataDTO?.firstName} : ${personalDataDTO?.firstName}"
                   id="firstName" th:id="firstName" th:name="firstName" class="form-control">
            <label for="firstName" class="form-label">First name</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
        </div>

        <div class="form-outline mb-4">

            <input type="text"
                   th:value="${dataSubmitted == false} ? ${customerDTO?.personalDataDTO?.lastName} : ${personalDataDTO?.lastName}"
                   id="lastName" th:id="lastName" th:name="lastName" class="form-control">
            <label for="lastName" class="form-label">Last name</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
        </div>

        <div class="form-outline mb-4">
            <input type="text"
                   th:value="${dataSubmitted == false} ? ${customerDTO?.personalDataDTO?.birthday} : ${personalDataDTO?.birthday}"
                   id="birthday" th:id="birthday" th:name="birthday" class="form-control" placeholder="dd.mm.YYYY">
            <label for="birthday" class="form-label">Birthday</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">
        </div>

        <div class="form-outline mb-4">
            <input class="btn btn-primary" type="submit" value="Next"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}(cancel=true)} role="button">Cancel</a>
    </form>
    <div th:replace="tvpp/fragments/general_fragments.html :: formOutlineBorderScript"></div>
    </form>
</div>
</body>
</html>