<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="contract_details">
    <meta charset="UTF-8"/>
</head>

<body>

<div th:fragment="contract_details_modal" class="modal show" tabindex="-1" id="contractDetails" aria-modal="true"
     role="dialog" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contract details</h5>
                <button type="button" class="btn-close" onclick="$('#contractDetails').modal('hide');"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <h6>Contract Data</h6>
                <dl class="row">
                    <dt class="col-sm-6">Contract ID</dt>
                    <dd class="col-sm-6" th:text="${displayedContract.id}"></dd>
                    <dt class="col-sm-6">Mobile Number</dt>
                    <dd class="col-sm-6" th:text="${displayedContract.numberView}"></dd>
                </dl>

                <h6>Customer</h6>
                <dl class="row">
                    <dt class="col-sm-6">Customer ID</dt>
                    <dd class="col-sm-6" th:text="${displayedContract.customerView.id}"></dd>
                    <dt class="col-sm-6">Name</dt>
                    <dd class="col-sm-6"
                        th:text="${displayedContract.customerView.personalDataView.firstName + ' ' + displayedContract.customerView.personalDataView.lastName}"></dd>

                    <dt class="col-sm-6">Login</dt>
                    <dd class="col-sm-6" th:text="${displayedContract.customerView.loginDataView.email}"></dd>
                    <dt class="col-sm-6">Birthday</dt>
                    <dd class="col-sm-6" th:text="${displayedContract.customerView.personalDataView.birthday}"></dd>
                    <dt class="col-sm-6">Passport data</dt>
                    <dd class="col-sm-6" th:text="${displayedContract.customerView.passportView}"></dd>
                    <dt class="col-sm-6">Address</dt>
                    <dd class="col-sm-6" th:text="${displayedContract.customerView.addressView}"></dd>
                </dl>

                <h6>Tariff</h6>
                <dl class="row">
                    <dt class="col-sm-6">Tariff name</dt>
                    <dd class="col-sm-6" th:text="${displayedContract.tariffView.tariffName}"></dd>
                    <dt class="col-sm-6">Tariff description</dt>
                    <dd class="col-sm-6" th:text="${displayedContract.tariffView.tariffDescription}"></dd>
                </dl>

                <h6>Options</h6>
                <dl class="row">
                    <dt class="col-sm-6">Contract Options</dt>
                    <dd class="col-sm-6">
                        <ul>
                            <li th:each="optionView : ${displayedContract.optionViews}"
                                th:text="${optionView.optionName}"></li>
                        </ul>
                    </dd>
                </dl>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:fragment="contract_details_script">
    $(window).on('load', function () {
        $('#contractDetails').modal('show');
    });
</script>
</body>
