<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update tariff</title>
    <div th:replace="tvpp/fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalScript"></div>
</head>
<body>
<div th:replace="tvpp/fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<div class="container">
    <h1 class="mb-3">New contract: select customer</h1>

    <form action="#" th:action="@{${contractCustomerPath}}" th:object="${contractCustomerDTO}" th:method="post">
        <div th:switch="${errorMessage}">
            <div th:case="null">
            </div>
            <div th:case="*">
                <div th:replace="tvpp/fragments/modal_error_fragments.html :: errorModalFragment"></div>
            </div>
        </div>

        <div class="row">
            <label for="dropCustomer">Customer</label>
            <select th:field="*{customerID}" id="dropCustomer">
                <option selected value="-1">Select customer</option>
                <option th:each="customer : ${allCustomers}"
                        th:value="${customer.id}"
                        th:text="${customer.id + ' ' + customer.personalDataView?.firstName + ' ' + customer.personalDataView?.lastName}"></option>
            </select>
        </div>

        <div class="form-outline mb-4">
            <input class="btn btn-primary" type="submit" value="Next"/>
        </div>
        <a class="btn btn-primary" th:href=@{${controllerPath}} role="button">Cancel</a>

    </form>


    <div th:replace="tvpp/fragments/general_fragments.html :: formOutlineBorderScript"></div>
</div>
</body>
</html>