<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
    <div th:replace="tvpp/fragments/general_fragments.html :: headLinks"></div>
    <div th:replace="tvpp/fragments/modal_confirmation_fragments.html :: confirmationModalScript"></div>
</head>
<body>
<div th:replace="tvpp/fragments/general_fragments.html :: stickyHeader"></div>
<br>
<br>
<br>
<h1 class="mb-3">Contracts</h1>

<div th:if="${successfulAction == true}">
    <div th:replace="tvpp/fragments/modal_confirmation_fragments.html :: confirmationModalFragment"></div>
</div>

<div th:if="${viewContractDetails == true}">
    <div th:replace="tvpp/contracts/contract_details.html :: contract_details_modal"></div>
    <div th:replace="tvpp/customers/contract_details.html :: contract_details_script"></div>
</div>

<div th:if="${contracts.empty}">
    <h2>No contracts yet!</h2>
</div>
<div th:if="${!contracts.empty}">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Phone Number</th>
            <th>Tariff</th>
            <th>Options</th>
            <th>View details</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${contracts}">
            <td th:text="${contract.id}"></td>
            <td th:text="${contract.customerView.id + ' ' + contract.customerView.personalDataView.firstName + ' ' + contract.customerView.personalDataView.lastName}"></td>
            <td th:text="${contract.numberView}"></td>
            <td th:text="${contract.tariffView.tariffName}"></td>
            <td>
                <ul>
                    <li th:each="optionView : ${contract.optionViews}" th:text="${optionView.optionName}"></li>
                </ul>
            </td>
            <td>
                <button type="button"
                        class="btn btn-primary"
                        data-mdb-toggle="modal"
                        data-mdb-target="#contractDetails"
                        th:id="details_ + ${contract.id}"
                        th:onclick="'location.href = \'' + @{${pathView}(id=${contract.id})} + '\''">
                    Details
                </button>
                <!--a th:href="@{${pathView}(id=${contract.id})}">Details</a-->
            </td>
            <td>Edit link</td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="#" th:action="@{${pathDeleteUpdate}(id=${contract.id})}" th:method="delete"
                      th:id="${contract.id}">
                    <a href="javascript:{}"
                       th:onclick="|document.getElementById('${contract.id}').submit(); return false;|">Delete</a>
                </form>
            </td>
        </tr>

        </tbody>
    </table>


</div>
<p sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{${pathNew}}">Add new contract</a>
</p>


</body>
</html>